@{
    ViewData["Title"] = "Home Page";
}
 
 
@if(User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
{
    <p>@User.Identity.Name</p>
    <a asp-controller="Users" asp-action="Index">Управление пользователями</a>
    <a asp-controller="Roles" asp-action="Index">Управление ролями</a>
}
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
